section#add-a-new-ad {
  button {
    font-weight: 800;
    @include transition();
    &:hover {
      letter-spacing: 3px;
    }
  }
  .modal {
    .btn-close {
      button {
        top: 0;
        right: 2px;
        font-size: 20px;
        background-color: $appColor_1;
        border: none;
        color: red;
      }
    }
  }
}
section#dashboard {
  .status {
    .header {
      div {
        position: relative;
        color: $appColor_1;
        &::after {
          @include after-line();
        }
      }
      .active {
        border-top: 2px solid $appColor_4;
        border-left: 2px solid $appColor_4;
        border-right: 2px solid $appColor_4;
        border-radius: 10px 10px 0 0;
        padding-top: 2px;
        color: $appColor_5;
        font-weight: 700;
        &::after {
          display: none;
        }
      }
    }
    .content {
      div.my-requests,
      div.ones-shown,
      div.my-ads {
        .job {
          cursor: pointer;
          @include transition();
          .application-details,
          .job-apply,
          .deletion-indicated,
          .view-resumes,
          .remove-ad {
            button {
              justify-content: center;
              width: 100%;
              font-weight: 550;
              padding: 8px;
              font-size: 17px;
              border-radius: 10px;
              background-color: $appColor_2;
              color: $run;
              transition: 0.5s ease-in;
            }
          }
          .deletion-indicated,
          .remove-ad {
            button {
              background-color: $appColor_3;
              color: $appColor_1;
            }
          }
        }
      }
    }
  }
}
