section#searching {
  .container {
    .search-box {
      input {
        background-color: $appColor_1;
        color: $appColor_3;
        &:focus {
          outline-style: none;
          outline-width: none;
          outline-offset: none;
          outline-color: none;
        }
      }
    }
    .search-place {
      select {
        background-color: $appColor_1;
        color: $appColor_3;
        &:focus {
          outline-style: none;
          outline-width: none;
          outline-offset: none;
          outline-color: none;
        }
      }
    }
    .search-time {
      select {
        background-color: $appColor_1;
        color: $appColor_3;
        &:focus {
          outline-style: none;
          outline-width: none;
          outline-offset: none;
          outline-color: none;
        }
      }
    }
    .search-btn {
      button {
        @include transition();
        span {
          font-weight: 650;
        }
        &:hover {
          letter-spacing: 3px;
        }
      }
    }
  }
}

section#jobs {
  .container {
    div.job {
      cursor: pointer;
      @include transition();
      .job-published {
        min-width: 14%;
        transform: rotate(320deg);
        top: 30px;
        left: 3px;
        padding: 13px;
        color: $appColor_3;
        @include transition();
      }
      .job-content {
        .job-apply {
          button {
            justify-content: center;
            width: 100%;
            font-weight: 700;
            padding: 6px;
            font-size: 17px;
            padding: 9px;
            border-radius: 10px;
            background-color: $appColor_2;
            color: $run;
            @include transition();
          }
        }
      }
      &:hover {
        .job-apply {
          button {
            background-color: $appColor_1;
            color: $appColor_3;
          }
        }
      }
    }
    .pagination {
      button {
        background-color: $appColor_1;
        color: $appColor_3;
      }
    }
  }
}

section#why-us {
  .container {
    h3 {
      font-size: 1.75rem;
      color: $appColor_1;
      font-weight: 550;
      margin-bottom: 2px;
    }
    p {
      color: $appColor_4;
      margin-bottom: 8px;
    }
    .guidance {
      cursor: pointer;
      font-weight: 550;
      font-size: 1rem;
      color: $appColor_2;
      .arrow {
        @include transition();
        margin-left: 3px;
        font-size: 1.35rem;
      }
      &:hover {
        .arrow {
          margin-left: 15px;
        }
      }
    }
  }
}
