.txt-anywhere {
  overflow-wrap: anywhere;
}

.loader {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.onPage {
  display: none;
}

.accepted {
  color: rgb(0, 170, 51);
}

.rejected {
  color: rgb(218, 41, 10);
}

.not-determined {
  color: rgb(9, 101, 161);
}

.notifications {
  position: absolute;
  top: 68px;
  background: #1d232a;
  color: $appColor_5;
  right: 7px;
  display: flex;
  align-items: center;
  min-width: 14rem;
  border-radius: 15px;
  min-height: 13rem;
  padding: 14px;
  .messages {
    .sad-emoji {
      font-size: 30px;
      width: 100%;
      margin-bottom: 2px;
    }
    .no-message {
      font-weight: 550;
    }
  }
}
