.txt-anywhere {
  overflow-wrap: anywhere;
}

.loader {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
}

.accepted {
  color: rgb(0, 170, 51);
}

.rejected {
  color: rgb(218, 41, 10);
}

.not-determined {
  color: rgb(9, 101, 161);
}

